name: Test
on: [pull_request]
jobs:
  build:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.23
      uses: actions/setup-go@v3
      with:
        go-version: 1.23
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v3

    - name: Download Latest Velociraptor
      uses: robinraju/release-downloader@v1
      id: velociraptor
      with:
        repository: velocidex/velociraptor
        tag: v0.75
        fileName: "velociraptor-v0.75.2-linux-amd64-musl"
        out-file-path: tests

    - name: Build artifacts
      run: |
        make all compile

    - name: Run Velociraptor
      run: |
        mv ${{ fromJson(steps.velociraptor.outputs.downloaded_files)[0]}} ./tests/velociraptor.bin
        chmod +x ./tests/velociraptor.bin
        ls -l ./output/
        ./tests/velociraptor.bin artifacts verify --builtin -v ./output/*.yaml

    - name: Test
      shell: bash
      if: always()
      run: |
        go test -v ./...
